#gameboard {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(67, 59, 59);
    position: relative;
    z-index: 4;
}

.square {
    width: 12.5%;
    height: 12.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    z-index: -20;
}

.piece {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
}

.piece svg {
    pointer-events: none;
    width: 90%;
    height: 90%;
    max-width: 100%;
    max-height: 100%;
    display: block;
    position: relative;
    z-index: 1;
}

path {
    pointer-events: none;
    position: relative;
    z-index: -10;
}




.biege {
    background-color: #f0d9b5;
}

.brown {
    background-color: #a97951;
}

.black {
    fill: #341414;
}

.white {
    fill: #242e56;
}
